<configuration>
        <!-- defines logs destination in the console -->
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- defines how the log message will look like -->
        <encoder>
            <pattern>%boldWhite(%d{yyyy-MM-dd HH:mm:ss}) %highlight([%level]) %boldWhite(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- specify default logs level -->
    <root level="INFO">
        <!-- tells the logger to use the STDOUT appender -->
        <appender-ref ref="STDOUT" />
    </root>

    <!-- specific Hikari logs at INFO level -->
    <logger name="com.zaxxer.hikari" level="DEBUG" />
</configuration>
